.button-create-new {
    border: none;
    min-width: 50px;
    min-height: 50px;
    border-radius: 100%;
    background-color: #008cff;
    color: white;
    font-size: 24px;
}

.button-create-new:hover {
    background-color: #0075d5;
    color: white;
}

.div-button-create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}
