.div-dashboard-flex {
    display: flex;
    height: 100%;
    min-height: 100vh;
}

.div-dashboard-flex-vertical {
    flex-direction: column;
    text-align: start;
    width: 100%;
    padding: 12px;
}

.div-tab-cards-horizontal {
    display: flex;
    overflow: auto;
}

#apps.div-tab-cards-horizontal {
    overflow: unset;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2f2f2f;
}

::-webkit-slider-container {
    background: rgba(241, 241, 241, 0.1);
    border-radius: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.div-tab-cards-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: start;
    align-items: start;
    border-top: 1px solid #595959;
    border-bottom: 1px solid #595959;
    overflow: auto;
    max-height: 500px;
}
