.div-dashboard-flex {
    display: flex;
    overflow: hidden;
}

.div-dashboard-flex-vertical {
    flex-direction: column;
    padding: 12px;
    width: 100%;
    text-align: start;
}

.div-tab-cards-horizontal {
    overflow: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.1);
    border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
