.div-nav-main {
    display: flex;
    flex-direction: column;
    width: 50px;
    background-color: #3a3a3a;
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
    align-content: center;
    transition:width 0.3s;
    justify-content: center;
    align-items: center;
    top: 0;
}

.sidenav-icon-text {
    margin: 0;
    font-size: 12px;
    transition: font-size 0.3s;
}

.sidenav-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12px;
    cursor: pointer;
}

.sidenav-icon-container:hover {
    color: #858585;
}

.sidebar-icon-container {
    text-align: center;
    cursor: pointer;
}

.sidebar-icon {
    font-size: 24px;
}

#home-icon-div {
    top: 20px;
    position: fixed;
}

#user-icon-div {
    top: 80px;
    position: fixed;
}

#logout-icon-div {
    bottom: 20px;
    position: fixed;
}

#logout-icon-div {
    flex: 100;
    justify-content: end;
    align-items: end;
}
