.login-main-container {
    display: flex;
    text-align: start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-label {
    align-items: start;
    font-weight: bold;
}

