.app-card-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #f39302, #8ad301);
    transition: color 0.3s;
    border-radius: 12px;
    padding: 18px;
    max-width: 300px;
    text-shadow: 0px 0px 4px #181818;
}

.app-card-main-div:hover {
    color: #000000;
    cursor: pointer;
}

.app-card-icon {
    font-size: 48px;
    text-shadow: 0px 0px 10px #000000
}
