.tuning-app-card-main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(145deg, #da0033, #c200b4);
    transition: flex 0.3s;
    border-radius: 12px;
    padding: 18px;
    text-shadow: 0px 0px 4px #181818;
    margin: 4px;
    flex: 1;
}

.tuning-app-card-main-div:hover {
    cursor: pointer;
    flex: 1.2;
}

.tuning-app-card-icon {
    font-size: 48px;
    text-shadow: 0px 0px 10px #000000
}
