.div-top-app-bar-main {
    display: flex;
    width: 100%;
    min-width: 5%;
    top: 0;
    background-color: #2c2c2c;
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.75);
    align-items: center;
}

.input-project-name {
    height: 30px;
    width: 40%;
    min-width: 150px;
    border-radius: 120px;
    border: 0;
    color: black;
    text-align: center;
}

.input-project-tempo {
    height: 30px;
    border-radius: 120px;
    width: 10%;
    min-width: 50px;
    border: 0;
    color: black;
    text-align: center;
}

.top-app-bar-form {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: center;
}

.top-app-bar-name {
    display: flex;
    flex: 1;
    justify-content: start;
    align-items: start;
}

.top-app-bar-functions {
    display: flex;
    flex: 1;
    justify-content: end;
    align-items: center;
}
