/* Buttons */
.button-color {
    padding: 12px;
    background-color: #008cff;
    color: white;
    border-radius: 24px;
    border: none;
    margin: 12px;
}

.button-border {
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.18);
    color: white;
    border-radius: 24px;
    border: 1px solid #008cff;
    margin: 12px;
}

.button-color-red {
    padding: 12px;
    background-color: #ff003b;
    color: white;
    border-radius: 24px;
    border: none;
    margin: 12px;
}

.button-color:hover {
    background-color: #0075d5;
    color: white;
}

.button-border:hover {
    background-color: #0075d5;
    border: 1px solid #0075d5;
    color: white;
}
/* Forms */
.input-rounded {
    border-radius: 24px;
    padding: 8px;
    margin: 4px;
    border: none;
}
