.tuning-editor-full-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: auto;
}

.div-tuning-editor-main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tuning-string-note-button {
    position: relative;
    padding: 12px;
    margin: 4px;
    width: 40px;
    height: 40px;
    border: none;
    background-color: #fd154d;
    border-radius: 100%;
    color: white;
    z-index: 2;
}

.tuning-string-note-button:hover {
    background-color: #ff6289;
    color: black;
}

.label-strings {
    position: relative;
}

.tuning-string-count-select {
    padding: 12px;
    margin: 4px;
    border: none;
    border-radius: 24px;
    color: black;
}

.tuner-button-items-container {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.div-string-line {
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgba(253, 21, 145, 0.5);
    transform: translateY(-50%);
    position: absolute;
}

.div-string-line:hover {
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgba(255, 121, 196, 0.5);
    transform: translateY(-50%);
    position: absolute;
}
