.div-item-card-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    background-color: #545454;
    box-shadow: 0px 0px 10px 0px #000000;
    border: 0;
    transition: background-color 0.3s;
}

.div-item-card-main:hover {
    background-color: #696969;
}

.item-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
    background-color: #2f313f;
    padding: 12px;
    width: 240px;
}

.item-card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
