.div-item-card-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.div-item-card-main:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.div-item-card-element{
    flex: 1;
    display: flex;
    padding: 12px;
}

#tempo.div-item-card-element{
    flex: 0.1;
    display: flex;
    padding: 12px;
}

#delete.div-item-card-element{
    flex: 0.1;
    display: flex;
    padding: 12px;
    color: #ff3333;
}

#delete.div-item-card-element:hover{
    text-decoration: underline;
    cursor: pointer;
}

.item-card-name {
    color: #008cff;
    padding: 0;
    margin: 0;
}

.item-card-name:hover {
    text-decoration: underline;
    cursor: pointer;
}


#titles.div-item-card-main:hover{
    background-color: rgba(255, 0, 0, 0);
    text-decoration: none;
}

#titles.div-item-card-main{
    border: none;
}

#titles.div-item-card-element{
    border: none
}

#titles.item-card-name {
    color: #ffffff;
    padding: 0;
    margin: 0;
}

#titles.item-card-name:hover {
    text-decoration: none;
    cursor: default;
}
